body { 
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    width: 500px;
    margin: 0 auto;
    padding-top: 300px;
    color: #ffbb55
}


table {
    margin: 30px, 0px, 30px, 0px;
}
.divMadeTable {
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 400vh;
    top: 300px;

}

.red {
    background-color: #e06666;
    color: white;
    text-align: center;
    border: 2px solid white;
    transition-duration: 0.4s;
    margin-right: 10px;
}
    
.red:hover {
    background-color: darkred;
    color: white;
}


.buttons {                                               /* AT SOME POINT I CHANGED THIS CLASS YET IT STILL WORKS.  SO YEAH MY COMPUTER IS HAUNTED. */
    font-weight: 400;
    font-size: 12pt;
    border: solid white;
}

h1 {
    background-color: #93c47d;
    padding-top: 15px;
    color: white;
    font-size: 16pt;
    text-align: center;
    height: 40px;
}

tbody {
    margin: 40px;
}

tr {
    color: #ffbb55;
    font-weight: 600;
    font-size: 12pt;
    line-height: 40px;

}

#addSkill {                                
    color:#93c47d;
    background-color: white;
    width: 100px;
    margin-left: 10px;
    border: 3px solid #93c47d;
    height: 43px;
    font-weight: 600;
    transition-duration: 0.4s;
    }
    
#addSkill:hover {
    background-color: #93c47d;
    color: white;
}


.input {
    border: 3px solid #93c47d;
    color: #93c47d;
    position: left;
    width: 400px;
    height: 35px;
    transition-duration: 0.4s;
}
    
.input:hover {
    background-color: #93c47d;
    color: white;
}

.input::selection{
    outline: none;
    border: green;

}

.inputSkills {
    display: flex;
    flex-direction: row;
    color: #ffbb55
}
/* 
I THINK I GOT IT ALL EXCEPT THE INPUT BOX TURNS BLACK WHEN CLICKED.  
NOT SURE HOW TO GET RID OF THAT ONE. */